apiVersion: apps/v1
kind: Deployment
metadata:
  name: arso-service
  labels:
    app: arso-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: arso-service
  template:
    metadata:
      labels:
        app: arso-service
    spec:
      containers:
        - name: arso-service
          image: zln00/arso-service:latest
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "arso"
            - name: DB_USER
              value: "arso_user"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10